# Project exclude paths
/.gradle/
/build/
/out/
/out/production/classes/
/out/test/classes/
/libs/
/bin/
/.idea/
/effekseer/
hs_err_pid*
/src/test/resources/EffekseerNativeForJava.dll
/src/main/resources/EffekseerNativeForJava.dll
/effekseerNatives/
